.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.body-section {font-family: 'Roboto', sans-serif;

}
/* Header */
.logo-web {
        width: 44px;
        height: 24px;
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;  
        color: #4D5AE5;
}
.logo-studio {
        width: 71px;
        height: 24px;
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        color: #2E2F42;
}
.menu-link{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2E2F42;
}
.menu-link:hover,
.menu-link:focus{
    font-family: 'Roboto';
        color: #4D5AE5;
}
.mail{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
        color: #434455;
}
.phone-number{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
     color: #434455;
}
.mail:hover,
.mail:focus{
    font-family: 'Roboto';
        color: #4D5AE5;
}
.phone-number:hover,
.phone-number:focus{
    font-family: 'Roboto';
        color: #4D5AE5;
}

/*Hero section*/
.first-title{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
       /* color: #FFFFFF;*/
}
.modal-button{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        display: flex;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.modal-button:hover,
.modal-button:focus{
        background: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

/*About section*/
.benefits-title{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2E2F42;
}
.benefits-text{
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
/*Doing section*/
.doing-title{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
/* Team section*/
.title-our-team{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.title-member{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.position{
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
/*Footer section*/
.footer-text{
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #E7E9FC;
}

/*Filter Button*/
.filter-btn{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #4D5AE5;

}
.filter-btn:hover,
.filter-btn:focus{
font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #404BBF;
}
        
/*Portfolio section*/
.card-title{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.card-text{
    font-family: 'Roboto';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
